

/* body, body > * {
    width: 100%;
    min-height: 100%;
    margin: 0;
} */

/* :root {} */
/* main > * {} */
/* button {} */

/* div {
    display: flex;
    min-width: 150px;
    min-height: 150px;
} */
button {
    min-width: 150px;
    min-height: 50px;
}
article {
    outline: 1px solid pink;
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    margin: 30px;
}
article:hover > div {
    display: none;
}
section {
    outline: 1px solid gray;
}
input {
    outline: 1px solid gainsboro;
}
dialog::backdrop {
    background-color: linear-gradient(red, blue, 50%);
    background: blur(50%);
}
/* ul {} */
li {
    /* list-style: none; */
}
main {
    /* outline: 1px solid lime; */
    display: flex;
    justify-content: space-around;
    height: 100vh;
}
.thought-color-block {
    /* display: flex; */
    width: 150px;
    height: 150px;
}
/* .thought-list {} */
/* .thought-list-item {} */
.thought-slot-title {
    transform: rotate(-45deg);
}
*[data-thought-id] {
    outline: 2px solid red;
}
*[data-status="disabled"] {
    outline: 2px solid gray;
}